<div class=" py-10">
  @switch (categoriesStateImpl.stateList().status) { @case ('loading') {
  <app-loader-spinner></app-loader-spinner>
  } @case ('error') {
  <app-error-message></app-error-message>
  } @default {
  <section
    class="flex justify-center gap-4 flex-wrap lg:max-w-screen-xl w-full sm:px-0 px-4 mx-auto"
  >
    @for (category of categoriesStateImpl.stateList().items; track category.id)
    {
    <app-category-item [category]="category"></app-category-item>
    }
  </section>
  } }
</div>
