<section class="py-8 md:py-16 antialiased h-screen grid items-center">
  @switch (productsStateImpl.stateView().status) { @case ('loading') {
  <app-loader-spinner></app-loader-spinner>
  } @case ('error') {
  <app-error-message></app-error-message>
  } @default {
  <div class="max-w-screen-xl px-4 mx-auto 2xl:px-0 h-screen scroll-smooth">
    <a routerLink="/products-list" class="flex top-0 mb-10">
      <svg
        class="w-6 h-6 text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m15 19-7-7 7-7"
        />
      </svg>

      <span>Volver</span>
    </a>

    <div class="lg:grid lg:grid-cols-2 lg:gap-8 xl:gap-16">
      <div class="shrink-0 max-w-md lg:max-w-lg mx-auto">
        <img
          class="rounded-lg shadow-lg h-96 w-96"
          [src]="productsStateImpl.stateView().product?.images"
          [alt]="productsStateImpl.stateView().product?.id"
        />
      </div>

      <div class="mt-6 sm:mt-8 lg:mt-0">
        <h1
          class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white"
        >
          {{ productsStateImpl.stateView().product?.title }}
        </h1>
        <div class="mt-4 sm:items-center sm:gap-4 sm:flex">
          <p
            class="text-2xl font-extrabold text-gray-900 sm:text-3xl dark:text-white"
          >
            ${{ productsStateImpl.stateView().product?.price }} COP
          </p>
        </div>

        <div class="mt-6 sm:gap-4 sm:items-center sm:flex sm:mt-8">
          <button
            (click)="addToCart(productsStateImpl.stateView().product!)"
            title="Add to Cart"
            class="mt-4 sm:mt-0 font-medium rounded-lg text-sm px-5 py-2.5 flex bg-green-700 hover:bg-green-800"
            role="button"
          >
            <svg
              class="w-5 h-5 -ms-2 me-2"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 4h1.5L8 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm.75-3H7.5M11 7H6.312M17 4v6m-3-3h6"
              />
            </svg>

            Add to cart
          </button>
        </div>

        <hr class="my-6 md:my-8 border-gray-200 dark:border-gray-800" />

        <p class="mb-6 text-gray-500 dark:text-gray-400">
          {{ productsStateImpl.stateView().product?.description }}
        </p>
      </div>
    </div>

    <div class="border-t mt-10 border-slate-500">
      <h1 class="text-3xl font-semibold text-center my-4">
        {{ productsStateImpl.stateView().product?.category?.name }}
      </h1>
    </div>
  </div>
  <!-- Modal info user not authenticated -->
  @if (!isAuthenticated()) {
  <div class="fixed m-auto left-0 right-0 container max-w-lg">
    <app-error-no-auth (cancelMessage)="getDismissChild($event)"></app-error-no-auth>
  </div>
  } } }
</section>
